body::-webkit-scrollbar {
    display: none;
}

.orders {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.orders__top_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.panels {
    display: flex;
}

.page_header {
    color: var(--s-50);
    font-family: 'Bitter', serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0225rem;
}

.search_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.search_section__top {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search_section__button {
    width: 1rem;
    color: var(--s-50);
}

.search_section__button--active {
    transform: rotate(90deg);
}

.search_section__header {
    color: var(--s-50);
    font-family: 'Bitter', serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search_section__search_panel {
    width: 27.5%;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    margin-left: 2rem;
    display: none;
    flex-direction: column;
    background-color: var(--p-700);
    gap: 2rem;
}

.search_panel__row {
    display: flex;
    gap: 2rem;
}

.search_panel__input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input__label {
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.input__input_box {
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    background-color: var(--p-500);
    border: none;
    outline: none;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-indent: 0.75rem;
}

.search_panel__save_button--border {
    height: 2.5rem;
    width: 10.9375rem;
    background: var(--a-700);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(0 50%, 25% -90%, 75% -90%, 100% 50%, 75% 200%, 25% 200%);
    clip-path: polygon(0 50%, 25% -70%, 75% -70%, 100% 50%, 75% 180%, 25% 180%);
    border: none;
    align-self: center;
    transition: all .2s ease-in-out;
}

.search_panel__save_button {
    height: calc(100% - 6px);
    width: calc(100% - 8px);
    background: var(--a-900);
    z-index: 1;
    border: none;
    clip-path: polygon(0 50%, 25% -90%, 75% -90%, 100% 50%, 75% 200%, 25% 200%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .2s ease-in-out;
}

.search_panel__save_button--border:hover {
    transform: scale(1.075);
}

.search_panel__save_button--border:hover > .search_panel__save_button {
    transform: scale(1.075);
    background-color: var(--a-700);
}

.search_panel__save_button--border:active {
    transform: scale(1.05);
}

.search_panel__save_button--border:active > .search_panel__save_button {
    transform: scale(1.05);
    background-color: var(--a-700);
}

.statuses_panel__header {
    color: var(--s-50);
    font-family: 'Bitter', serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.statuses_panel {
    width: 30%;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    margin-left: 2rem;
    display: none;
    flex-direction: column;
    background-color: var(--p-700);
    gap: 2rem;
}

.statuses_panel__statuses {
    display: inline-grid;
    grid-template-columns: repeat(5, 0fr);
    column-gap: 0.75rem;
    row-gap: 0.75rem;
}

.statuses_panel__status {
    padding: 0.5rem;
    background-color: var(--p-500);
    border-radius: 0.25rem;
    color: var(--s-50);
    font-family: 'Open Sans';
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all .25s ease-in-out;
}


.orders__bottom_section {
    width: 100%;
    display: flex;
    gap: 2.5rem;
}


.table {
    border-collapse: collapse;
    width: 100%;
    height: fit-content;
    table-layout: auto;
}

.table__head {
    width: 100%;
    padding: 0.75rem;
}

.table__header {
    border: none;
    padding: 0.75rem;
    color: var(--s-50);
    font-family: 'Open Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
}

.table__header--ID {
    align-self: center;
}

.table__header:hover {
    background-color: var(--p-700);
}

.table__body {
    width: 100%;
    padding: 0.75rem;
}

.table__body_row {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--p-700);
    border-top: 0.125rem solid var(--p-500);
    border-bottom: 0.125rem solid var(--p-500);
    transition: all .25s ease-in-out;
}

.order_table__cell {
    padding: 0.75rem;
    color: var(--s-50);
    font-family: 'Open Sans';
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
    text-align: center;
}

.table__body_row:hover {
    background-color: var(--p-300);
}


.order_panel {
    width: 35rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1.25rem;
    background-color: var(--p-700);
    padding: 2rem 2rem;
}

.order_panel__header_section {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--s-50);
    font-family: 'Bitter', serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.order_panel__delivery_address_box {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.order_panel__delivery_address_label {
    color: var(--s-50);
    font-family: 'Open Sans';
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
}

.order_panel__delivery_address {
    color: var(--s-500);
    font-family: 'Open Sans';
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
}

.order_panel__status_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.order_panel__select_box {
    position: relative;
}

.order_panel__status_label {
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    position: relative;
}

.order_panel__status_input {
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.3125rem;
    background-color: var(--p-500);
    border: none;
    outline: none;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-indent: 0.75rem;
    position: relative;
}

.status__edit_button {
    position: relative;
    bottom: 2.75rem;
    left: 29%;
    font-size: 1rem;
    color: var(--a-700);
    z-index: 3;
}

.order_panel__payment_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order_panel__payment_label {
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    position: relative;
}

.order_panel__payment {
    padding: 0.5rem 0.75rem;
    background-color: var(--a-700);
    width: fit-content;
    border-radius: 0.3125rem;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    position: relative;
}

.table {
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed;
}

.table__body {
    width: 100%;
    padding: 0.75rem;
}

.table__body_row {
    width: 100%;
    padding: 0 2rem;
    background-color: var(--p-500);
    border-bottom: 0.125rem solid var(--p-300);
}

.table__cell {
    width: 5rem;
    padding: 0.5rem 0;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
    text-align: center;
}

.table__cell:hover {
    background-color: var(--p-700);
}

.order_panel__table {
    width: 100%;
}


.products_table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.products__table__body {
    width: 100%;
}

.products__table__body_row {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--p-500);
    border-bottom: 0.125rem solid var(--p-300);
}

.products__table__cell {
    padding: 0.75rem;
    color: var(--s-50);
    font-family: 'Open Sans';
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
    text-align: center;
}

.products__table__cell:hover {
    background-color: var(--p-700);
}

.products__table__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__cell {
    width: 50%;
    padding: 0.75rem;
    color: var(--s-50);
    font-family: 'Open Sans';
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
    text-align: start;
}

.footer__cell--total {
    text-align: end;
}

.order_panel__select_menu {
    width: 12.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.3125rem;
    background-color: var(--p-500);
    border: 0.125rem solid var(--a-700);
    outline: none;
    color: var(--s-50);
    font-family: 'Open Sans';
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
    text-align: start;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.order_panel__option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Open Sans';
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 600;

}