.content {
    width: 100%;
    display: flex;
    gap: 3.5rem;
}

.links_panel {
    width: 12rem;
    height: 9rem;
    background-color: var(--p-700);
    display: flex;
    flex-direction: column;
    border-radius: 0.3125rem;
    overflow: hidden;
}

.links_panel__link {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    transition: all .25s ease-in-out;
}

.links_panel__link:hover {
    background-color: var(--p-500);
}

.links_panel__link--middle {
    border-top: 0.2rem solid var(--p-500);
    border-bottom: 0.2rem solid var(--p-500);
}

.links_panel__text {
    color: var(--s-50);
    margin-left: 1rem;
    font-family: Open Sans;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content__right_section {
    width: 58rem;
    display: none;
    flex-direction: column;
    gap: 1.25rem;
}

.right_section__header_section {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.right_section__header {
    color: var(--s-50);
    font-family: 'Bitter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right_section__products {
    color: var(--s-700);
    font-family: 'Bitter', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cart_items_count {
    color: var(--s-700);
    font-family: 'Bitter', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right_section__main_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 2.6875rem;
    justify-content: space-between;
}

.right_section__main_content--no_products {
    display: none;
}

.main_content__products {
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.products__product {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    transition: all .25s ease-in-out;
}

.products__product:hover {
    background-color: var(--p-700);
}

.product__left_section {
    display: flex;
    height: 10rem;
    align-items: center;
    gap: 0.7rem;
}

.product__image {
    width: 7.5rem;
}

.product__info_section {
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 0.8125rem;
}

.product__text_section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product__name {
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.product__size {
    color: var(--s-700);
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product__color {
    color: #4789e6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product__amount_box {
    width: 6.5rem;
    height: 2rem;
    background-color: var(--p-700);
    border: 0.2rem solid var(--a-700);
    border-radius: 0.3125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.amount_box__minus {
    font-size: 1.5rem;
    color: var(--a-700);
}

.amount_box__plus {
    font-size: 1.5rem;
    color: var(--a-700);
}

.amount_box__count {
    color: var(--s-500);
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product__price_box {
    height: 9rem;
    display: flex;
    gap: 0.25rem;
}

.product__price {
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem
}

.product__delete_icon {
    font-size: 1.25rem;
    color: var(--a-700);
    transition: all .2s ease-in-out;
}

.product__delete_icon:hover {
    scale: 1.25;
    color: var(--a-500);
}

.product__delete_icon:active {
    scale: 1.1;
    color: var(--a-300);
}

.main_content__buy_panel {
    width: 15rem;
    padding: 1rem;
    background-color: var(--p-700);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buy_panel__header {
    color: var(--s-50);
    font-family: Open Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buy_panel__price_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.buy_panel__products_price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0.75rem;
    border-bottom: 0.125rem solid var(--p-500);
}

.buy_panel__products {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buy_panel__price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buy__total_sum {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.total_sum__text {
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.total_sum__price_box {
    display: flex;
    gap: 0.25rem;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main_content__buy_button--border {
    align-self: center;
    height: 2.5rem;
    width: 10.9375rem;
    background: var(--a-700);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(0 50%, 25% -90%, 75% -90%, 100% 50%, 75% 200%, 25% 200%);
    clip-path: polygon(0 50%, 25% -70%, 75% -70%, 100% 50%, 75% 180%, 25% 180%);
    border: none;
    transition: all .25s ease-in-out;
}

.main_content__buy_button {
    height: calc(100% - 6px);
    width: calc(100% - 8px);
    background: var(--a-900);
    z-index: 1;
    border: none;
    clip-path: polygon(0 50%, 25% -90%, 75% -90%, 100% 50%, 75% 200%, 25% 200%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
}

.main_content__buy_button--border:hover {
    transform: scale(1.075);
}

.main_content__buy_button--border:hover > .main_content__buy_button {
    transform: scale(1.075);
    background-color: var(--a-700);
}

.main_content__buy_button--border:active {
    transform: scale(1.05);
}

.main_content__buy_button--border:active > .main_content__buy_button {
    transform: scale(1.05);
    background-color: var(--a-700);
}

.right_section__main_content--no_products {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.main_content__image {
    width: 15rem;
}

.main_content__text {
    color: var(--s-500);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .25s ease-in-out;
}