.content {
    width: 100%;
    display: flex;
    gap: 3.5rem;
}

.links_panel {
    width: 12rem;
    height: 9rem;
    background-color: var(--p-700);
    display: flex;
    flex-direction: column;
    border-radius: 0.3125rem;
    overflow: hidden;
}

.links_panel__link {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    transition: all .25s ease-in-out;
}

.links_panel__link:hover {
    background-color: var(--p-500);
}

.links_panel__link--middle {
    border-top: 0.2rem solid var(--p-500);
    border-bottom: 0.2rem solid var(--p-500);
}

.links_panel__text {
    color: var(--s-50);
    margin-left: 1rem;
    font-family: Open Sans;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content__right_section {
    width: 58rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.right_section__header {
    color: var(--s-50);
    font-family: 'Bitter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right_section__main_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2em;
}

.main_content__image {
    width: 7rem;
    height: 7rem;
}

.main_content__inputs {
    display: flex;
    gap: 3rem;
}

.main_content__input {
    display: flex;
    flex-direction: column;
}

.main_content__input_label {
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.main_content__input_content {
    color: var(--s-500);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.main_content__input_hidden_content {
    display: flex;
    gap: 0.5rem;
}

.main_content__password {
    width: 7.4rem;
    background: none;
    outline: none;
    border: none;
    padding-top: 0.25rem;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.main_content__username {
    background: none;
    outline: none;
    border: none;
    padding: 0.25rem;
    border-bottom: 0.125rem solid var(--p-500);
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.main_content__edit_icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--s-50);
}

.main_content__save_button--border {
    height: 2.5rem;
    width: 10.9375rem;
    background: var(--a-700);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(0 50%, 25% -90%, 75% -90%, 100% 50%, 75% 200%, 25% 200%);
    clip-path: polygon(0 50%, 25% -70%, 75% -70%, 100% 50%, 75% 180%, 25% 180%);
    border: none;
    transition: all .2s ease-in-out;
}

.main_content__save_button {
    height: calc(100% - 6px);
    width: calc(100% - 8px);
    background: var(--a-900);
    z-index: 1;
    border: none;
    clip-path: polygon(0 50%, 25% -90%, 75% -90%, 100% 50%, 75% 200%, 25% 200%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .2s ease-in-out;
}

.main_content__save_button--border:hover {
    transform: scale(1.075);
}

.main_content__save_button--border:hover > .main_content__save_button {
    transform: scale(1.075);
    background-color: var(--a-700);
}

.main_content__save_button--border:active {
    transform: scale(1.05);
}

.main_content__save_button--border:active > .main_content__save_button {
    transform: scale(1.05);
    background-color: var(--a-700);
}

.right_section__main_content--change_password {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
}

.main_content__password_inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.password_inputs__password {
    position: relative;
}

.password__input {
    width: 20rem;
    height: 4rem;
    outline: none;
    border: none;
    border-radius: 0.125rem;
    background-color: var(--p-700);
    text-indent: 1rem;
    color: var(--s-50);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all .2s ease-in-out;
    letter-spacing: 0.05rem;
}

.password__label {
    color: var(--s-500);
    position: absolute;
    pointer-events: none;
    transition: 0.2s ease all;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    left: 1rem;
    top: 37.5%;
}

.password__eye_icon {
    width: 1.5rem;
    position: absolute;
    top: 37.5%;
    left: 31%;
}

input:focus ~ .password__label {
    font-size: 0.65rem;
    top: 15%;
}

input:valid ~ .password__label {
    font-size: 0.65rem;
    top: 15%;
}


.footer {
    width: 100%;
    height: 34rem;
    border-top: 0.313rem solid var(--p-700);
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.footer_top_section {
    width: 60%;
    height: 21.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 6.25rem;
}

.footer__column {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.3125rem;
}

.footer__double_column {
    width: 15rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.footer__header {
    color: var(--s-50);
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__links {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.9375rem;
}

.footer__link {
    color: var(--s-700);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    transition: all .3s ease-in-out;
}

.footer__link:hover {
    color: var(--s-300);
    text-decoration: underline var(--s-700) 0.125rem;
}

.footer__buttons {
    display: flex;
    gap: 0.75rem;
}

.footer__button {
    width: 2.25rem;
    height: 2.7625rem;
}

.footer__button_image {
    width: 1.25rem;
}

#whatsapp_button {
    background-color: #168b16;
}

#telegram_button {
    background-color: #166e8e;
}

#instagram_button {
    background-color: rgb(99, 14, 45);
}

#vk_button {
    background-color: #274d74;
}

#whatsapp_logo {
    width: 1.6rem;
}

#vk_logo {
    width: 1.6rem;
}

.footer__input_box {
    position: relative;
    height: 2.24rem;
    width: 15rem;
    background: var(--a-700);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(25% -325%, 75% -325%, 100% 50%, 75% 350%, 25% 350%, 0% 50%);
    clip-path: polygon(25% -325%, 75% -325%, 100% 50%, 75% 350%, 25% 350%, 0% 50%);
}
.footer__input {
    position: relative;
    content: '';
    z-index: 1;
}
.footer__input {
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    background: var(--p-700);
    z-index: 1;
    border: none;
    text-indent: 1rem;
    color: var(--s-300);
    clip-path: polygon(25% -450%, 75% -450%, 100% 50%, 75% 450%, 25% 450%, 0% 50%);
}

.footer__input:focus {
    outline: none;
    color: var(--s-300);
}

.footer__input::placeholder {
    color: var(--s-500);
    font-weight: 500;
}

.footer__text {
    color: var(--s-500);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}

.underlined_text {
    color: var(--s-900);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}

.underlined_text:hover {
    color: var(--s-500);
    text-decoration: underline var(--s-700) 0.1rem;
}

.footer__bottom_section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.footer__logo {
    width: 3.125rem;
}

.footer__bottom_text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    margin-bottom: 1rem;
}

.brand_text {
    color: var(--s-700);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
}

.link_text {
    color: var(--s-700);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
}

.link_text:hover {
    color: var(--s-500);
    text-decoration: underline var(--s-700) 0.1rem;
}